header {
  width: 100%;
  height: 500px;
  background-color: #ff78ae;
  font-size: 30px; }
  header h2 {
    color: #3e64ff; }

section {
  width: 100%;
  height: 500px; }
  section p {
    font-display: cursive; }

footer {
  width: 100%;
  height: 500px;
  background-color: #ff78ae;
  font-size: 30px; }
  footer p {
    font-display: cursive; }
  footer h2 {
    color: #3e64ff; }
